[submodule "dashboard"]
	path = ctmd-dashboard
	url = git@github.com:/RENCI/ctmd-dashboard.git
[submodule "tic-map-pipeline-script"]
	path = tic-map-pipeline-script
	url = git@github.com:/RENCI/tic-map-pipeline-script
[submodule "ER-diagram"]
	path = ER-diagram
	url = git@github.com:/RENCI/ER-diagram.git
[submodule "tx-autht"]
	path = tx-autht
	url = git@github.com:/RENCI/tx-autht.git
[submodule "HEAL-data-mapping"]
	path = HEAL-data-mapping
	url = git@github.com:/RENCI/HEAL-data-mapping.git
